Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

enabled fixed (#475)
  .github/workflows/check-script-version.yml
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/types/config-manager.d.ts
Owners: @ticaki

update workflow
  .github/workflows/autolabeling.yml
  .github/workflows/check-script-version.yml
Owners: @ticaki

test
  script/example_sendTo_script_iobroker.ts
Owners: none

update workflow
  .github/workflows/check-script-version.yml
Owners: @ticaki

update workflow
  .github/workflows/autolabeling.yml
  .github/workflows/check-script-version.yml
Owners: @ticaki

refractor
  build/lib/const/tools.js
  build/lib/const/tools.js.map
  src/lib/const/tools.ts
Owners: none

update readme nadge
  README.md
Owners: none

update lint
  build/lib/const/tools.js.map
  src/lib/const/tools.ts
Owners: none

refactory onVisibilityChange
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  src/lib/pages/pageChart.ts
Owners: none

fix counter
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  src/lib/pages/pageChartLine.ts
Owners: none

add check value for OldVariant
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  src/lib/pages/pageChart.ts
Owners: none

fix try/catch
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  src/lib/pages/pageChart.ts
Owners: none

fix checkState
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  src/lib/pages/pageChart.ts
Owners: none

min Scala
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  src/lib/pages/pageChartLine.ts
Owners: none

check notification enabled arrary length
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

min Scala
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  src/lib/pages/pageChartLine.ts
Owners: none

cardMedia - User Colors #417
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  build/lib/pages/pageMedia.js
  build/lib/pages/pageMedia.js.map
  src/lib/const/Color.ts
  src/lib/pages/pageMedia.ts
Owners: none

fix cardThermo2
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  src/lib/controller/states-controller.ts
Owners: none

fixed sunset of brightsky
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  build/lib/types/pages.js
  build/lib/types/pages.js.map
  src/lib/pages/pageThermo2.ts
  src/lib/templates/text.ts
  src/lib/types/pages.ts
Owners: none

cardThermo2 fixed
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/controller/states-controller.ts
  src/lib/pages/pageThermo2.ts
Owners: none

cardThermo2 fixed
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/pages/pageThermo2.ts
Owners: none

grr - remove onInternalCommand from controller - fixed cardThermo2
  build/lib/pages/pageMenu.js
  build/lib/pages/pageMenu.js.map
  build/lib/pages/pageThermo2.js.map
  src/lib/pages/pageMenu.ts
  src/lib/pages/pageThermo2.ts
Owners: none

lint fixed
  build/lib/pages/pageThermo2.js.map
  src/lib/pages/pageThermo2.ts
Owners: none

update readme
  README.md
Owners: none

add a cardThermo set/set2 check
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/pages/pageThermo2.ts
Owners: none

more log
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/pages/pageThermo2.ts
Owners: none

remove error message
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/classes/config-manager.ts
  src/lib/pages/pageThermo2.ts
Owners: none

finished
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/classes/config-manager.ts
  src/lib/pages/pageThermo2.ts
Owners: none

Testing (#479)
  build/lib/classes/config-manager.js
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/classes/config-manager.ts
  src/lib/pages/pageThermo2.ts
Owners: none

prepare fetch
  build/main.js
  build/main.js.map
  src/main.ts
Owners: none

ScreensaverEntityVisibleEnabled optional
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/types/config-manager.d.ts
Owners: none

just draft - redo navpageitem switch
  build/lib/classes/config-manager.js.map
  build/lib/config/button-navigation-def.js
  build/lib/config/button-navigation-def.js.map
  build/lib/config/config-manager-const.js
  build/lib/config/config-manager-const.js.map
  build/lib/config/config-manager.js
  build/lib/config/config-manager.js.map
  build/lib/pages/pageChart.js.map
  build/lib/pages/pageMedia.js.map
  build/lib/pages/pagePower.js.map
  build/lib/pages/pageQR.js.map
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  build/lib/pages/tools/getAlexa.js.map
  build/lib/pages/tools/getMpd.js.map
  build/lib/pages/tools/getSonos.js.map
  build/lib/pages/tools/getSpotify.js.map
  build/lib/tools/readme.js
  build/lib/tools/readme.js.map
  build/lib/types/type-pageItem.js.map
  build/main.js
  build/main.js.map
  src/lib/config/button-navigation-def.ts
  src/lib/config/config-manager-const.ts
  src/lib/config/config-manager.ts
  src/lib/pages/pageChart.ts
  src/lib/pages/pageMedia.ts
  src/lib/pages/pagePower.ts
  src/lib/pages/pageQR.ts
  src/lib/pages/pageThermo2.ts
  src/lib/pages/tools/getAlexa.ts
  src/lib/pages/tools/getMpd.ts
  src/lib/pages/tools/getSonos.ts
  src/lib/pages/tools/getSpotify.ts
  src/lib/tools/readme.ts
  src/lib/types/type-pageItem.ts
  src/main.ts
  tsconfig.build.json
  tsconfig.json
Owners: @ticaki

finish changes
  build/lib/config/button-navigation-def.js
  build/lib/config/button-navigation-def.js.map
  build/lib/config/config-manager.js
  build/lib/config/config-manager.js.map
  src/lib/config/button-navigation-def.ts
  src/lib/config/config-manager.ts
Owners: none

change pouring technical
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  src/lib/const/Color.ts
Owners: none

brightsky bot and favorit fixed for 0.4.x
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/const/Color.ts
  src/lib/templates/text.ts
Owners: none

update color
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  src/lib/const/Color.ts
Owners: none

select number or string
  build/lib/const/config-manager-const.js
  build/lib/const/config-manager-const.js.map
  build/lib/pages/data-collection-functions.js
  build/lib/pages/data-collection-functions.js.map
  doc/de/ALIAS.md
  src/lib/const/config-manager-const.ts
  src/lib/pages/data-collection-functions.ts
Owners: @tt-tom17

globalPages & globalLink
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/const/config-manager-const.js
  build/lib/const/config-manager-const.js.map
  build/main.js
  build/main.js.map
  script/globalPageConfig.ts
  src/lib/classes/config-manager.ts
  src/lib/const/config-manager-const.ts
  src/lib/types/config-manager.d.ts
  src/main.ts
Owners: none

update workflow
  .github/workflows/check-script-version.yml
Owners: @ticaki

change something
  script/globalPageConfig.ts
Owners: none

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki
