Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

fixed global dismissible, fixed weired undefined error, tweak shutdown
  build/lib/classes/Page.js
  build/lib/classes/Page.js.map
  build/lib/classes/baseClassPage.js
  build/lib/classes/baseClassPage.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/pageMenu.js
  build/lib/pages/pageMenu.js.map
  build/lib/pages/screensaver.js
  build/lib/pages/screensaver.js.map
  eslint.config.mjs
  src/lib/classes/Page.ts
  src/lib/classes/baseClassPage.ts
  src/lib/controller/controller.ts
  src/lib/controller/panel.ts
  src/lib/controller/states-controller.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/pageMenu.ts
  src/lib/pages/screensaver.ts
Owners: none

update iconSelect - show saved value
  admin/custom/assets/Components-BfTOOLI7.js
  admin/custom/assets/Components-hSbMVlwK.js
  admin/custom/assets/hostInit-CrAs5YZS.js
  admin/custom/assets/index-C3Bnlpll.js
  admin/custom/assets/index-GJzp3ZNv.js
  admin/custom/assets/virtualExposes--fv6H75d.js
  admin/custom/assets/virtualExposes-BMLsHFBQ.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/ExampleComponent.tsx
Owners: none

update iconSelect
  admin/custom/assets/Components-BjZ5tSNw.js
  admin/custom/assets/Components-D63nbbFD.js
  admin/custom/assets/hostInit-CrAs5YZS.js
  admin/custom/assets/index-BBpkfK6P.js
  admin/custom/assets/index-Dh_WvzDF.js
  admin/custom/assets/virtualExposes-DuxXvRW1.js
  admin/custom/assets/virtualExposes-UKh8UIsQ.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/App.tsx
  src-admin/src/Components.tsx
  src-admin/src/ExampleComponent.tsx
  src-admin/src/IconOverview.tsx
  src-admin/src/IconSelect.tsx
Owners: none

init
  admin/jsonConfig.json5
Owners: none

update doku
  doc/de/GlobalPages.md
Owners: @tt-tom17

scriptVersion added to states
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/const/definition.js
  build/lib/const/definition.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/types/types.js.map
  src/lib/classes/config-manager.ts
  src/lib/const/definition.ts
  src/lib/controller/panel.ts
  src/lib/types/types.ts
Owners: none

aktualisiere Screensaver-Dokumentation - füge Screensaver-Benachrichtigungen hinzu und verbessere MR-Icons-Beschreibung
  doc/de/screensaver.md
Owners: @tt-tom17

workflow entfernt
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

Update doc/de/screensaver.md
  doc/de/screensaver.md
Owners: @tt-tom17

aktualisiere Screensaver-Dokumentation - füge Screensaver-Benachrichtigungen hinzu und verbessere MR-Icons-Beschreibung (#512)
  doc/de/screensaver.md
Owners: @tt-tom17

Update screensaver.md
  doc/de/screensaver.md
Owners: @tt-tom17

Update screensaver.md (#515)
  doc/de/screensaver.md
Owners: @tt-tom17

fix select list
  admin/custom/assets/Components-D63nbbFD.js
  admin/custom/assets/Components-eXrM9jHc.js
  admin/custom/assets/hostInit-CrAs5YZS.js
  admin/custom/assets/index-BBpkfK6P.js
  admin/custom/assets/index-CWGxIlxz.js
  admin/custom/assets/virtualExposes-BFXE89WS.js
  admin/custom/assets/virtualExposes-UKh8UIsQ.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/IconSelect.tsx
Owners: none

NavigationView draft
  admin/custom/assets/Components-D63nbbFD.js
  admin/custom/assets/Components-DfDFwo3Y.js
  admin/custom/assets/NavigationView-B5DZHykP.css
  admin/custom/assets/TextField-BdVdmva-.js
  admin/custom/assets/TextField-tbiLCyDu.js
  admin/custom/assets/ThemeProvider-BA2FWq14.js
  admin/custom/assets/ThemeProvider-BFrbDyk8.js
  admin/custom/assets/hoist-non-react-statics.cjs-C7qFYHaw.js
  admin/custom/assets/hoist-non-react-statics.cjs-DvjFdcSf.js
  admin/custom/assets/hostInit-CrAs5YZS.js
  admin/custom/assets/index-B41fmwyp.js
  admin/custom/assets/index-B751nP6t.js
  admin/custom/assets/index-BBpkfK6P.js
  admin/custom/assets/index-Bq_LXjMJ.js
  admin/custom/assets/index-DGbYrcND.js
  admin/custom/assets/index-DYnW7HwZ.js
  admin/custom/assets/index-av9lxzwn.js
  admin/custom/assets/index-fSpYv11v.js
  admin/custom/assets/virtualExposes-BBRKvyLL.js
  admin/custom/assets/virtualExposes-UKh8UIsQ.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  build/main.js
  build/main.js.map
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/package-lock.json
  src-admin/package.json
  src-admin/src/App.tsx
  src-admin/src/Components.tsx
  src-admin/src/IconSelect.tsx
  src-admin/src/NavigationView.tsx
  src-admin/src/simOContext.ts
  src/main.ts
Owners: @ticaki

fix connections
  admin/custom/assets/Components-BUgqyu8X.js
  admin/custom/assets/Components-DfDFwo3Y.js
  admin/custom/assets/hostInit-CrAs5YZS.js
  admin/custom/assets/index-CEuAkyxD.js
  admin/custom/assets/index-DYnW7HwZ.js
  admin/custom/assets/virtualExposes-BBRKvyLL.js
  admin/custom/assets/virtualExposes-CifWTQms.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/NavigationView.tsx
Owners: none

Update src-admin/src/NavigationView.tsx
  src-admin/src/NavigationView.tsx
Owners: none

remove duplicatee
  src-admin/src/NavigationView.tsx
Owners: none

build
  admin/custom/assets/Components-3oR32MOQ.js
  admin/custom/assets/Components-DT-hskF9.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DXElRNGc.js
  admin/custom/assets/index-DdJnwr3h.js
  admin/custom/assets/virtualExposes-CYQKli8J.js
  admin/custom/assets/virtualExposes-Cp3tXTor.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
Owners: none

Update flow layout
  admin/custom/assets/Components-B9GIVO_H.js
  admin/custom/assets/Components-DMYQcMKI.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-C5AAH_zT.js
  admin/custom/assets/index-Cq34Jbar.js
  admin/custom/assets/virtualExposes-D6EmNNS3.js
  admin/custom/assets/virtualExposes-DTIRi7Id.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/package-lock.json
  src-admin/package.json
  src-admin/src/NavigationView.tsx
  src-admin/src/i18n/de.json
  src-admin/src/i18n/en.json
Owners: @ticaki

update flow add strg+f hint
  admin/custom/assets/Components-Cg_d6dJa.js
  admin/custom/assets/Components-DMYQcMKI.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-Cq34Jbar.js
  admin/custom/assets/index-MJ8M0ZuC.js
  admin/custom/assets/virtualExposes-DTIRi7Id.js
  admin/custom/assets/virtualExposes-ZkWj691Q.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/NavigationView.tsx
Owners: none

Verbessere die Tick-Erstellung in PageChartLine, um Min/Max-Werte auf die nächsten 10 zu runden und sicherzustellen, dass der Intervall nicht null ist.
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  src/lib/pages/pageChartLine.ts
Owners: none

fyling unlock folder fixed
  build/lib/pages/pageAlarm.js
  build/lib/pages/pageAlarm.js.map
  src/lib/pages/pageAlarm.ts
Owners: none

Fix/linechart (#492)
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  src/lib/pages/pageChart.ts
  src/lib/pages/pageChartLine.ts
Owners: none

fyling unlock folder fixed
  build/lib/pages/pageAlarm.js
  build/lib/pages/pageAlarm.js.map
  src/lib/pages/pageAlarm.ts
Owners: none

update icon configuration - replace showIcon with custom icon selection component
  admin/jsonConfig.json5
Owners: none

update Readme 'work in progress'
  README.md
Owners: none

Update src-admin/src/IconSelect.tsx
  src-admin/src/IconSelect.tsx
Owners: none

pageUnlock
  admin/custom/assets/Components-Cg_d6dJa.js
  admin/custom/assets/Components-E4Tyja_p.js
  admin/custom/assets/VisibilityOff-Cds6_I-g.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-3YXV783K.js
  admin/custom/assets/index-CTAVr6Gd.js
  admin/custom/assets/index-Cyuuu7hB.js
  admin/custom/assets/index-DuHCMoK1.js
  admin/custom/assets/index-MJ8M0ZuC.js
  admin/custom/assets/index-RC2drdWp.js
  admin/custom/assets/virtualExposes-B-Dt2fvz.js
  admin/custom/assets/virtualExposes-ZkWj691Q.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  build/lib/types/pages.js.map
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/Components.tsx
  src-admin/src/IconSelect.tsx
  src-admin/src/NavigationView.tsx
  src-admin/src/components/ConfirmDialog.tsx
  src-admin/src/components/UnlockPage.tsx
  src-admin/src/i18n/de.json
  src-admin/src/i18n/en.json
  src/lib/types/pages.ts
Owners: none

Test/page power icon select (#517)
  README.md
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  src-admin/build/mf-manifest.json
Owners: none

text fixed
  admin/custom/assets/Components-E4Tyja_p.js
  admin/custom/assets/Components-v6XZ6liz.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-3YXV783K.js
  admin/custom/assets/index-CTAVr6Gd.js
  admin/custom/assets/index-Cyuuu7hB.js
  admin/custom/assets/index-DHetLDXu.js
  admin/custom/assets/virtualExposes-B-Dt2fvz.js
  admin/custom/assets/virtualExposes-B4OLXvqV.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/i18n/de.json
  src-admin/src/i18n/en.json
Owners: none

update build
  admin/custom/mf-manifest.json
  src-admin/build/mf-manifest.json
Owners: none

update readme
  README.md
Owners: none

rename/move files - add admin config type
  admin/custom/assets/Components-t3pf2dGp.js
  admin/custom/assets/Components-v6XZ6liz.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/virtualExposes-B4OLXvqV.js
  admin/custom/assets/virtualExposes-DTZNiiZ-.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  build/lib/controller/panel.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  build/lib/types/navigation.js.map
  build/main.js
  build/main.js.map
  src-admin/build/customComponents.js
  src-admin/build/mf-manifest.json
  src-admin/src/Components.tsx
  src-admin/src/NavigationView.tsx
  src-admin/src/UnlockPage.tsx
  src/lib/adapter-config.d.ts
  src/lib/controller/panel.ts
  src/lib/types/adminShareConfig.ts
  src/main.ts
Owners: none

update readme
  README.md
Owners: none

Add German documentation for screensaver notification features isDismissiblePerEvent & dismissibleIDGlobal (#519)
  README.md
  doc/de/screensaver.md
Owners: @tt-tom17

update doc
  doc/de/screensaver.md
Owners: @tt-tom17

Update src/lib/pages/pageAlarm.ts
  src/lib/pages/pageAlarm.ts
Owners: none

remove as any
  admin/custom/assets/Components-N4PdfTwG.js
  admin/custom/assets/Components-_JlVwcT1.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/virtualExposes-BIbXwt3Z.js
  admin/custom/assets/virtualExposes-BSRn-_ZQ.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  build/lib/pages/pageAlarm.js.map
  src-admin/build/customComponents.js
  src-admin/build/mf-manifest.json
  src-admin/src/UnlockPage.tsx
  src-admin/src/components/NavigationAssignmentPanel.tsx
Owners: none

headlines added
  admin/custom/assets/Components-N4PdfTwG.js
  admin/custom/assets/Components-Vm_BoRBD.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-3YXV783K.js
  admin/custom/assets/index-CTAVr6Gd.js
  admin/custom/assets/index-CcJulEHc.js
  admin/custom/assets/index-Gd5bpmFQ.js
  admin/custom/assets/virtualExposes-BIbXwt3Z.js
  admin/custom/assets/virtualExposes-CuWyHHYV.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/UnlockPage.tsx
  src-admin/src/components/NavigationAssignmentPanel.tsx
  src-admin/src/i18n/de.json
  src-admin/src/i18n/en.json
Owners: none

some changes
  admin/custom/assets/Components-Dc0fLC3r.js
  admin/custom/assets/Components-Vm_BoRBD.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-3YXV783K.js
  admin/custom/assets/index-CTAVr6Gd.js
  admin/custom/assets/index-Da6DiIuu.js
  admin/custom/assets/index-Gd5bpmFQ.js
  admin/custom/assets/virtualExposes-CpstkN32.js
  admin/custom/assets/virtualExposes-CuWyHHYV.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  build/main.js
  build/main.js.map
  src-admin/build/customComponents.js
  src-admin/build/index.html
  src-admin/build/mf-manifest.json
  src-admin/src/UnlockPage.tsx
  src-admin/src/i18n/de.json
  src-admin/src/i18n/en.json
  src/lib/types/adminShareConfig.ts
  src/main.ts
Owners: none
