Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

Translated using Weblate (French)
  admin/i18n/fr/translations.json
Owners: none

Translated using Weblate (Russian)
  admin/i18n/ru/translations.json
Owners: none

Translated using Weblate (Portuguese)
  admin/i18n/pt/translations.json
Owners: none

Translated using Weblate (Ukrainian)
  admin/i18n/uk/translations.json
Owners: none

Translated using Weblate (Spanish)
  admin/i18n/es/translations.json
Owners: none

Translated using Weblate (Italian)
  admin/i18n/it/translations.json
Owners: none

Translated using Weblate (Dutch)
  admin/i18n/nl/translations.json
Owners: none

Translated using Weblate (Chinese (Simplified))
  admin/i18n/zh-cn/translations.json
Owners: none

Translated using Weblate (German)
  admin/i18n/de/translations.json
Owners: none

Translated using Weblate (Russian)
  admin/i18n/ru/translations.json
Owners: none

Translated using Weblate (Chinese (Simplified))
  admin/i18n/zh-cn/translations.json
Owners: none

Translated using Weblate (Spanish)
  admin/i18n/es/translations.json
Owners: none

Translated using Weblate (Ukrainian)
  admin/i18n/uk/translations.json
Owners: none

Translated using Weblate (German)
  admin/i18n/de/translations.json
Owners: none

Translated using Weblate (Polish)
  admin/i18n/pl/translations.json
Owners: none

Translated using Weblate (French)
  admin/i18n/fr/translations.json
Owners: none

Translated using Weblate (Polish)
  admin/i18n/pl/translations.json
Owners: none

feat(chart): chart pages from PageConfig entries, one DB path for both sources
  src/lib/adapter-config.d.ts
  src/lib/configuration/admin.ts
  src/lib/pages/pageChart.ts
  src/lib/pages/pageChartBar.ts
  src/lib/pages/pageChartLine.ts
  src/lib/types/adminShareConfig.ts
  src/lib/types/pages.ts
Owners: none

feat(admin): chart page editor in the PageConfig tab
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageChartEditor.tsx
  src-admin/src/components/PageConfigLayout.tsx
Owners: none

build: compile adapter and admin bundle for the chart pages
  admin/custom/assets/Components-bmpW_XgN.js
  admin/custom/assets/Components-sU3GT80D.js
  admin/custom/assets/PagePanelOverview-BITaXHyS.js
  admin/custom/assets/PagePanelOverview-CKcSLaO0.js
  admin/custom/assets/index-2XeiqV4l.js
  admin/custom/assets/mf-entry-bootstrap-0-db25a1b8.js
  admin/custom/assets/virtualExposes-CE8iu4B3.js
  admin/custom/assets/virtualExposes-W5ON8R-l.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-0XtoRAf1.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CFWJ7Ig3.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BPyfEB_Y.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CRe2Pf1K.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  build/lib/pages/pageChartBar.js
  build/lib/pages/pageChartBar.js.map
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  build/lib/types/pages.js.map
Owners: none

feat(i18n): chart editor texts in 11 languages
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
Owners: none

docs: chart pages in the PageConfig tab (de/en) and changelog entry
  README.md
  doc/de/PageChart.md
  doc/en/PageChart.md
  doc/en/_Sidebar.md
Owners: @tt-tom17

test(chart): cover buildChartPageConfig and the shared chart defaults
  src/lib/configuration/admin-chart.test.ts
  src/lib/configuration/admin.ts
Owners: none

build: compile the line chart scale fix
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/pages/chart-scale.js
  build/lib/pages/chart-scale.js.map
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  build/lib/pages/pageChartBar.js.map
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
Owners: none

fix(chart): scale large line chart values so the y-axis ticks fit the panel
  README.md
  doc/de/PageChart.md
  doc/en/PageChart.md
  src/lib/pages/chart-scale.test.ts
  src/lib/pages/chart-scale.ts
  src/lib/pages/pageChart.ts
  src/lib/pages/pageChartBar.ts
  src/lib/pages/pageChartLine.ts
Owners: @tt-tom17

fix(admin): restore the classic state filters of the chart editor
  src-admin/src/components/PageChartEditor.tsx
Owners: none

build: compile the chart editor state filters
  admin/custom/assets/Components-BGvhWcpI.js
  admin/custom/assets/Components-bmpW_XgN.js
  admin/custom/assets/PagePanelOverview-Dklw1qSH.js
  admin/custom/assets/index-DJDn4tnI.js
  admin/custom/assets/mf-entry-bootstrap-0-aef23a97.js
  admin/custom/assets/virtualExposes-BbfOoeGc.js
  admin/custom/assets/virtualExposes-CE8iu4B3.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-0XtoRAf1.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-C1wmBmVa.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CRe2Pf1K.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-NkiZiSeP.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
Owners: none

fix(chart): data ticks only, in 1-2-5 steps, no extra ticks below the minimum
  README.md
  doc/de/PageChart.md
  doc/en/PageChart.md
  src/lib/pages/chart-scale.test.ts
  src/lib/pages/chart-scale.ts
Owners: @tt-tom17

build: compile the chart scale change
  build/lib/pages/chart-scale.js
  build/lib/pages/chart-scale.js.map
Owners: none

test: quote the mocha glob so every test file runs
  package.json
Owners: @ticaki

feat(credentials): read the MQTT login, the Tasmota WebUI password and the QR wifi password from the central credentials
  io-package.json
  src/lib/adapter-config.d.ts
  src/lib/configuration/admin.ts
  src/lib/credentials.test.ts
  src/lib/credentials.ts
  src/lib/types/adminShareConfig.ts
  src/main.ts
Owners: none

feat(admin): pick central credentials in the MQTT settings and in the QR editor
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
  admin/jsonConfig.json5
  src-admin/src/PageMQTTSetting.tsx
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
  src-admin/src/components/CredentialSelect.tsx
  src-admin/src/components/PageQREditor.tsx
Owners: none

docs: central credentials for MQTT, Tasmota and QR pages (changelog, PageQR.md)
  README.md
  doc/de/PageQR.md
Owners: @tt-tom17

build: compile the credentials change (adapter and admin bundle)
  admin/custom/assets/Components-BGvhWcpI.js
  admin/custom/assets/Components-CUiNNVWb.js
  admin/custom/assets/PagePanelOverview-CRflOy7Q.js
  admin/custom/assets/index-DA_H0rkI.js
  admin/custom/assets/mf-entry-bootstrap-0-70586de3.js
  admin/custom/assets/virtualExposes-BbfOoeGc.js
  admin/custom/assets/virtualExposes-hEy_Ylb3.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BIXeKsUY.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-C1wmBmVa.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BpDTxhbk.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-NkiZiSeP.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/credentials.js
  build/lib/credentials.js.map
  build/lib/types/adminShareConfig.js.map
  build/main.js
  build/main.js.map
Owners: none

feat(credentials): MQTT credential only for an external broker, report a change instead of restarting
  README.md
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
  admin/jsonConfig.json5
  doc/de/PageQR.md
  src-admin/src/PageMQTTSetting.tsx
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
  src/main.ts
Owners: @tt-tom17

build: compile the external-broker-only change
  admin/custom/assets/Components-B6CGILay.js
  admin/custom/assets/Components-CUiNNVWb.js
  admin/custom/assets/PagePanelOverview-CuM8BJO6.js
  admin/custom/assets/index-QqP4-CGu.js
  admin/custom/assets/mf-entry-bootstrap-0-24cb1f75.js
  admin/custom/assets/virtualExposes-CrJYjgol.js
  admin/custom/assets/virtualExposes-hEy_Ylb3.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BIXeKsUY.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CVuNE7wu.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-B07-dSEJ.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BpDTxhbk.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/main.js
  build/main.js.map
Owners: none

fix(config): accept sensor.lock as ACTUAL role of lock items, log alternate fallback
  ALIAS.md
  README.md
  doc/de/ALIAS.md
  src/lib/classes/config-manager.ts
  src/lib/const/config-manager-const.ts
  src/lib/types/adminShareConfig.ts
  src/lib/types/pages.ts
Owners: @tt-tom17

build: compile the lock role change
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/const/config-manager-const.js
  build/lib/const/config-manager-const.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  build/lib/types/pages.js.map
Owners: none

feat(admin-ui): editor for cardThermo2 pages in the PageConfig tab
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/ChannelConfigDialog.tsx
  src-admin/src/components/PageConfigLayout.tsx
  src-admin/src/components/PageThermo2Editor.tsx
Owners: none

feat(admin): thermo2 page entry and heat-circuit filter for page items
  src/lib/types/adminShareConfig.ts
Owners: none
