Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

fix lint
  build/lib/classes/Page.js
  build/lib/classes/Page.js.map
  build/lib/classes/config-manager.js.map
  build/lib/configuration/admin.js.map
  build/lib/const/icon_mapping.js
  build/lib/const/icon_mapping.js.map
  build/lib/const/tools.js.map
  build/lib/controller/library.js
  build/lib/controller/library.js.map
  build/lib/pages/pageAlarm.js.map
  build/lib/pages/pageChart.js.map
  build/lib/pages/pageQR.js.map
  build/lib/types/function-and-const.js
  build/lib/types/function-and-const.js.map
  src/lib/classes/Page.ts
  src/lib/classes/config-manager.ts
  src/lib/configuration/admin.ts
  src/lib/const/icon_mapping.ts
  src/lib/const/tools.ts
  src/lib/controller/library.ts
  src/lib/pages/pageAlarm.ts
  src/lib/pages/pageChart.ts
  src/lib/pages/pageQR.ts
  src/lib/types/function-and-const.ts
Owners: none

build
  admin/custom/assets/Components-7b0rgvJU.js
  admin/custom/assets/Components-CIu31T6I.js
  admin/custom/assets/Components-JLYrLHYt.js
  admin/custom/assets/index-5DGL6h2K.js
  admin/custom/assets/index-BWhLwIcg.js
  admin/custom/assets/index-BdTdV-pR.js
  admin/custom/assets/index-CJB1LfY6.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-CqRLzKy3.js
  admin/custom/assets/index-DSJ281Ku.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/localSharedImportMap-B7DJk0mT.js
  admin/custom/assets/localSharedImportMap-BZ_ifWaz.js
  admin/custom/assets/localSharedImportMap-TZP6Xrl1.js
  admin/custom/assets/virtualExposes-BLXn7DUA.js
  admin/custom/assets/virtualExposes-BTBP6C_W.js
  admin/custom/assets/virtualExposes-VizhOCgP.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-B8wfTAAM.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-BluPxTNL.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-CF6gFUFw.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/classes/config-manager.js.map
  build/main.js.map
Owners: none

docs(phase 5): Developer- und Installations-Seiten gegen Code verifiziert + EN-Versionen
  README.md
  docs/STATUS.md
  docs/de/Adapter-Installation.md
  docs/de/Developer-Readme.md
  docs/de/Developer-Templates.md
  docs/de/NSPanel-Nextion-Editor.md
  docs/en/ALIAS.md
  docs/en/Adapter-Installation.md
  docs/en/Developer-News-(Latest).md
  docs/en/Developer-Readme.md
  docs/en/Developer-Templates.md
  docs/en/NSPanel-Nextion-Editor.md
  docs/en/NSPanel-flashen.md
Owners: none

Update from template: W8917-dependabot-addIgnoreTypesNode (#707)
  .github/dependabot.yml
Owners: @ticaki

docs(phase 6): Infrastruktur-Seiten fertiggestellt (DE+EN)
  docs/STATUS.md
  docs/de/Home.md
  docs/de/User-NSPanel-Funktionalität.md
  docs/de/_Sidebar.md
  docs/en/ColorThemes.md
  docs/en/Home.md
  docs/en/User-NSPanel-Funktionalität.md
  docs/en/_Sidebar.md
  docs/en/kommt-noch.md
  docs/en/pageUnlock.md
Owners: none

docs(phase 6): veraltete EN-Hinweise korrigiert (Doku jetzt vollständig zweisprachig)
  docs/en/Home.md
  docs/en/_Sidebar.md
Owners: none

fix(controller): leere Panel-ID abfangen statt Absturz (#730)
  README.md
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

add this.adapter.setTimeout
  src/lib/classes/system-notifications.ts
Owners: none

fix hardcoded maxX
  src/lib/pages/pageChartLine.ts
Owners: none

fix(build): repair type-check and build after the React 19 migration
  src/lib/pages/tools/pageTrash.ts
  tsconfig.json
Owners: @ticaki

fix(admin): keep the original glyphs for the migrated outline icons
  admin/custom/assets/Components-D-XOcGQc.js
  admin/custom/assets/Components-DRPJiTGY.js
  admin/custom/assets/PagePanelOverview-CEYg86QB.js
  admin/custom/assets/PagePanelOverview-Ck0ng5Fr.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-Bv_2qvoz.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-BwSHSQ7J.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_gui_mf_2_components__loadShare__.js-BH9f_uM4.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_gui_mf_2_components__loadShare__.js-BukwWDjn.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_json_mf_2_config__loadShare__.js-CZ-CqWe3.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare__react_mf_2_dom_mf_1_client__loadShare__.js-cYmtr10g.js
  admin/custom/assets/hostInit-t85CcSJL.js
  admin/custom/assets/hostInit-ufpvnCq_.js
  admin/custom/assets/index-CygvpVZa.js
  admin/custom/assets/lib-An9s5P9B.js
  admin/custom/assets/mf-entry-bootstrap-0-4ddca82a.js
  admin/custom/assets/virtualExposes-BUiIw-Mi.js
  admin/custom/assets/virtualExposes-C2mByEzH.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-2hVQ3iWN.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CFbvJ1NL.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-JHnqDKM-.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-emJIuD0o.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/ChannelConfigDialog.tsx
  src-admin/src/components/NavigationAssignmentPanel.tsx
  src-admin/src/components/PageConfigLayout.tsx
Owners: none

fix: repair the build and the icon glyphs after the React 19 migration (#755)
  admin/custom/assets/Components-D-XOcGQc.js
  admin/custom/assets/Components-DRPJiTGY.js
  admin/custom/assets/PagePanelOverview-CEYg86QB.js
  admin/custom/assets/PagePanelOverview-Ck0ng5Fr.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-Bv_2qvoz.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-BwSHSQ7J.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_gui_mf_2_components__loadShare__.js-BH9f_uM4.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_gui_mf_2_components__loadShare__.js-BukwWDjn.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_json_mf_2_config__loadShare__.js-CZ-CqWe3.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare__react_mf_2_dom_mf_1_client__loadShare__.js-cYmtr10g.js
  admin/custom/assets/hostInit-t85CcSJL.js
  admin/custom/assets/hostInit-ufpvnCq_.js
  admin/custom/assets/index-CygvpVZa.js
  admin/custom/assets/lib-An9s5P9B.js
  admin/custom/assets/mf-entry-bootstrap-0-4ddca82a.js
  admin/custom/assets/virtualExposes-BUiIw-Mi.js
  admin/custom/assets/virtualExposes-C2mByEzH.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-2hVQ3iWN.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CFbvJ1NL.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-JHnqDKM-.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-emJIuD0o.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/ChannelConfigDialog.tsx
  src-admin/src/components/NavigationAssignmentPanel.tsx
  src-admin/src/components/PageConfigLayout.tsx
  src/lib/pages/tools/pageTrash.ts
  tsconfig.json
Owners: @ticaki

chore: release v1.0.0
  README.md
  build/lib/classes/system-notifications.js
  build/lib/classes/system-notifications.js.map
  build/lib/pages/tools/pageTrash.js.map
  io-package.json
  package-lock.json
  package.json
  src-admin/package-lock.json
Owners: @ticaki

fix hardcoded maxX (#753)
  src/lib/pages/pageChartLine.ts
Owners: none

feat(admin): show upload status on the trash page
  README.md
  admin/custom/assets/Components-DRPJiTGY.js
  admin/custom/assets/Components-Dd-NXPk9.js
  admin/custom/assets/PagePanelOverview-BxF2TK-p.js
  admin/custom/assets/index-Cl5aue7i.js
  admin/custom/assets/mf-entry-bootstrap-0-0aa55dbd.js
  admin/custom/assets/virtualExposes-BUiIw-Mi.js
  admin/custom/assets/virtualExposes-Bn34iIZm.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BGGs_bwQ.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CFbvJ1NL.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-ANsvbR0o.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-JHnqDKM-.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
  src-admin/src/components/PageTrashEditor.tsx
Owners: none

rebuild
  build/lib/pages/pageChartLine.js
  build/lib/pages/pageChartLine.js.map
Owners: none

fix admin dropdown
  README.md
  admin/custom/assets/Components-B8QIXhAU.js
  admin/custom/assets/Components-Dd-NXPk9.js
  admin/custom/assets/PagePanelOverview-BO2r9Piy.js
  admin/custom/assets/index-BlpXL40K.js
  admin/custom/assets/mf-entry-bootstrap-0-170b6086.js
  admin/custom/assets/virtualExposes-Bn34iIZm.js
  admin/custom/assets/virtualExposes-C1VHdwaL.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BCXQEX4l.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BGGs_bwQ.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-ANsvbR0o.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-B800aC6w.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/ChannelConfigDialog.tsx
Owners: none

chore: release v1.0.1
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

fix(admin): count legacy pages literally named 'main' in the start page conflict check
  admin/custom/assets/Components--M7adFOH.js
  admin/custom/assets/Components-B6leAWrT.js
  admin/custom/assets/PagePanelOverview-b88C48Uy.js
  admin/custom/assets/index-C9ZFCAy1.js
  admin/custom/assets/mf-entry-bootstrap-0-eab93097.js
  admin/custom/assets/virtualExposes-DmjY0EDI.js
  admin/custom/assets/virtualExposes-Do4T5rB_.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-B1BwXXhc.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-DJbgCi4C.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CWzO71cH.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-jLqdQtxn.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/NavigationAssignmentPanel.tsx
Owners: none

test: cover a panel whose script delivers no page at all
  README.md
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
  src/lib/configuration/admin-main-page.test.ts
Owners: none

fix: do not adopt the start page of another panel
  README.md
  build/lib/configuration/main-page.js
  build/lib/configuration/main-page.js.map
  src/lib/configuration/admin-main-page.test.ts
  src/lib/configuration/main-page.test.ts
  src/lib/configuration/main-page.ts
Owners: none

fix: merge the pages of the other panels on script reload as well
  README.md
  build/main.js
  build/main.js.map
  src/lib/classes/config-manager.test.ts
  src/main.ts
Owners: none

docs: condense the changelog of the panel setup fixes
  README.md
Owners: none

fix: keep passwords out of the log and repair the panel setup check
  README.md
  io-package.json
  src/lib/adapter-config.d.ts
  src/lib/tools/redact.test.ts
  src/lib/tools/redact.ts
  src/main.ts
Owners: none

fix(admin): make the coloured panel cards readable in every theme
  README.md
  admin/custom/assets/Components-1wIIgPkF.js
  admin/custom/assets/Components-edlj0JYW.js
  admin/custom/assets/PagePanelOverview-B7Wk0sGb.js
  admin/custom/assets/PagePanelOverview-BUVJbJYd.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-BhTvtRfa.js
  admin/custom/assets/_virtual_mf-localSharedImportMap___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1-DW5XEdFF.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_gui_mf_2_components__loadShare__.js-XYuw-C1t.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_json_mf_2_config__loadShare__.js-HXZELBo8.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare___mf_0_iobroker_mf_1_json_mf_2_config__loadShare__.js-HdXpiXZm.js
  admin/custom/assets/_virtual_mf___mfe_internal__AdminComponentEasyAccessSet__mf_owner__1__loadShare__react_mf_2_dom_mf_1_client__loadShare__.js-BLM3j202.js
  admin/custom/assets/hostInit-DHLwHzg4.js
  admin/custom/assets/hostInit-DWK_LH-H.js
  admin/custom/assets/index-DLO_Sctj.js
  admin/custom/assets/index-Dbgrj0xh.js
  admin/custom/assets/lib-Dn3Kowit.js
  admin/custom/assets/mf-entry-bootstrap-0-0445e0c7.js
  admin/custom/assets/virtualExposes-54C0hPCL.js
  admin/custom/assets/virtualExposes-BSAAi4C7.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-Bkw1aPGK.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-C53KmBdK.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BXUaT-Ai.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-ZO1qHPRL.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/tools/redact.js
  build/lib/tools/redact.js.map
  build/main.js
  build/main.js.map
  src-admin/src/IconSelect.tsx
  src-admin/src/TabMaintain.tsx
  src-admin/src/TabPanelinfo.tsx
  src-admin/src/components/PagePowerEditor.tsx
  src-admin/src/themeUtils.ts
Owners: none

docs: condense the changelog of the work in progress
  README.md
Owners: none

chore: add the news of 1.1.0 to io-package.json
  io-package.json
Owners: none

chore: release v1.1.0
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

del tab NavOverview
  doc/de/Navigation.md
Owners: @tt-tom17

del code und tab NavOverview
  README.md
  admin/jsonConfig.json5
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/main.js
  build/main.js.map
  doc/de/_Sidebar.md
  doc/en/_Sidebar.md
  src/lib/controller/controller.ts
  src/main.ts
Owners: @tt-tom17

feat(admin): reveal system pages in navigation dropdowns, remember panel selection
  README.md
  admin/custom/assets/Components-CK0XLZcN.js
  admin/custom/assets/Components-CRz00hLE.js
  admin/custom/assets/PagePanelOverview-DXHMCBJE.js
  admin/custom/assets/index-B8G6c--C.js
  admin/custom/assets/mf-entry-bootstrap-0-0cd869bb.js
  admin/custom/assets/virtualExposes-Br1us_k-.js
  admin/custom/assets/virtualExposes-CXSF5HLT.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BcKKIKsO.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-vz82ojqT.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-45y_HYqw.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-C0ipjNNx.js
  admin/custom/customComponents.js
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
  src-admin/src/NavigationView.tsx
  src-admin/src/components/NavigationAssignmentPanel.tsx
Owners: none

fix: map the service page name onto its navigation node name
  README.md
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/configuration/main-page.js
  build/lib/configuration/main-page.js.map
  build/lib/templates/system-templates.js
  build/lib/templates/system-templates.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src/lib/configuration/admin.ts
  src/lib/configuration/main-page.ts
  src/lib/templates/system-templates.ts
  src/lib/types/adminShareConfig.ts
Owners: none

Del navoverview (#762)
  README.md
  admin/jsonConfig.json5
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/main.js
  build/main.js.map
  doc/de/Navigation.md
  doc/de/_Sidebar.md
  doc/en/_Sidebar.md
  src/lib/controller/controller.ts
  src/main.ts
Owners: @tt-tom17

fix(admin): build the cardPower color scale from defaults when a bound was never typed in
  README.md
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  src/lib/configuration/admin-power.test.ts
  src/lib/configuration/admin.ts
Owners: none

feat(admin): store the scale bounds of a new cardPower slot explicitly
  README.md
  admin/custom/assets/Components-Cedt2nSp.js
  admin/custom/assets/Components-DU8G_aL6.js
  admin/custom/assets/PagePanelOverview-5KZhyKZB.js
  admin/custom/assets/PagePanelOverview-q6friy47.js
  admin/custom/assets/index-CqZgkFKv.js
  admin/custom/assets/mf-entry-bootstrap-0-bb19f6b4.js
  admin/custom/assets/virtualExposes-D04fhCoY.js
  admin/custom/assets/virtualExposes-twyTYkbi.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CUeGuX2X.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-DwHxJcC2.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BJPm-yAn.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BnhvpP0f.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src/lib/types/adminShareConfig.ts
  src/lib/types/power-slot.test.ts
Owners: none

Feat/settingsPowerpage (#777)
  README.md
  admin/custom/assets/Components-Cedt2nSp.js
  admin/custom/assets/Components-DU8G_aL6.js
  admin/custom/assets/PagePanelOverview-5KZhyKZB.js
  admin/custom/assets/PagePanelOverview-q6friy47.js
  admin/custom/assets/index-CqZgkFKv.js
  admin/custom/assets/mf-entry-bootstrap-0-bb19f6b4.js
  admin/custom/assets/virtualExposes-D04fhCoY.js
  admin/custom/assets/virtualExposes-twyTYkbi.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-CUeGuX2X.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-DwHxJcC2.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BJPm-yAn.js
  admin/custom/assets/virtual_mf-exposes___mfe_internal__AdminComponentEasyAccessSet__customComponents_js-BnhvpP0f.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src/lib/configuration/admin-power.test.ts
  src/lib/configuration/admin.ts
  src/lib/types/adminShareConfig.ts
  src/lib/types/power-slot.test.ts
Owners: none

chore(ci): drop inactive maintainer from auto-assign reviewers
  .github/workflows/autoassign.yml
Owners: @ticaki

chore(ci): drop inactive maintainer from auto-assign reviewers (#778)
  .github/workflows/autoassign.yml
Owners: @ticaki

Translated using Weblate (French)
  admin/i18n/fr/translations.json
Owners: none

Translated using Weblate (Portuguese)
  admin/i18n/pt/translations.json
Owners: none

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki
