Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

fixed: negative values
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

update build
  admin/custom/assets/index-DdI_s25-.js
  admin/custom/assets/index-HZ5K02nP.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/mf-manifest.json
Owners: none

"tasmota": "15.2.0"
  json/version.json
Owners: none

"tasmota": "15.2.0" (#595)
  json/version.json
Owners: none

update stale
  .github/workflows/stale.yml
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: @ticaki

Bulid
  admin/custom/assets/index-C1-nwSJO.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  build/lib/classes/config-manager.js.map
  build/lib/classes/mqtt.js
  build/lib/classes/mqtt.js.map
  build/lib/controller/panel.js.map
  build/lib/types/pages.js.map
  build/lib/types/types.js.map
  build/main.js.map
  src/lib/classes/mqtt.ts
Owners: none

Translated using Weblate (German)
  admin/i18n/de/translations.json
Owners: none

Translated using Weblate (German) (#605)
  admin/i18n/de/translations.json
Owners: none

fix setting
  .vscode/settings.json
Owners: none

Update TFT version numbers in version.json
  json/version.json
Owners: none

us-p hmi fix (#607)
  json/version.json
Owners: none

update build
  admin/custom/assets/index-BUrv7J-B.js
  admin/custom/assets/index-HZ5K02nP.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  package-lock.json
  src-admin/package-lock.json
Owners: none

update deps
  package-lock.json
  package.json
Owners: @ticaki

update year
  LICENSE
  README.md
Owners: none

update hourLoop
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

confirmclick
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/pages/pageItem.ts
  src/lib/types/config-manager.d.ts
Owners: none

longpress added
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/pages/pageItem.ts
  src/lib/types/NSPanel.d.ts
  src/lib/types/config-manager.d.ts
Owners: none

add changelog old
  CHANGELOG_OLD.md
Owners: none

build
  admin/custom/mf-manifest.json
Owners: none

bulid next merge
  admin/custom/assets/index-BUrv7J-B.js
  admin/custom/assets/index-C1-nwSJO.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
Owners: none

fix Control button by blinds
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

fix control button up/down by popupShutter
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

shutter2 colorscale fixed
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

remove default colorscale
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

cardGrid integration
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/pages/pageItem.ts
Owners: none

bla
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

add color and object to confirm
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/pages/pageItem.ts
  src/lib/types/config-manager.d.ts
Owners: none

deprecated
  doc/de/ScriptConfig.md
  script/example_sendTo_script_iobroker.ts
  script/globalPageConfig.ts
  src/lib/types/config-manager.d.ts
  testumgebung/Config_Script.ts
  testumgebung/Global_Script.ts
  testumgebung/Local_Script.ts
Owners: @tt-tom17

Bug/blind (#609)
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/classes/config-manager.ts
  src/lib/pages/pageItem.ts
Owners: none

confirm fixed
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

warnmsg added for not exists inSel_Alias
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

update warnmsg
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

Update src/lib/pages/pageItem.ts
  src/lib/pages/pageItem.ts
Owners: none

fixed double uniquenames
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/main.js
  build/main.js.map
  src/lib/classes/config-manager.ts
  src/main.ts
Owners: none

Feature/confirm click (#611)
  CHANGELOG_OLD.md
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/pages/pageItem.ts
  src/lib/types/NSPanel.d.ts
  src/lib/types/config-manager.d.ts
Owners: none

update build
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
Owners: none

#610 temperature template
  src/main.ts
Owners: none

fix getTrash.ts
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/pages/tools/getTrash.js
  build/lib/pages/tools/getTrash.js.map
  src/lib/configuration/admin.ts
  src/lib/controller/controller.ts
  src/lib/pages/tools/getTrash.ts
Owners: none

added custonTrashName
  admin/custom/assets/Components-IF9xLU6H.js
  admin/custom/assets/Components-yL6ClYk7.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-C1-nwSJO.js
  admin/custom/assets/index-Dy8WbMD9.js
  admin/custom/assets/virtualExposes-CFzvHiEQ.js
  admin/custom/assets/virtualExposes-DzxKd1kv.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/pages/tools/getTrash.js
  build/lib/pages/tools/getTrash.js.map
  build/lib/types/adminShareConfig.js.map
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageTrashEditor.tsx
  src/lib/adapter-config.d.ts
  src/lib/controller/controller.ts
  src/lib/pages/tools/getTrash.ts
  src/lib/types/adminShareConfig.ts
Owners: none

add iconColor
  src/lib/adapter-config.d.ts
  src/lib/controller/controller.ts
  src/lib/pages/tools/getTrash.ts
  src/lib/types/adminShareConfig.ts
Owners: none
