Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

no main in globals example
  script/globalPageConfig.ts
Owners: none

readme
  README.md
Owners: none

use source of select
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

update spelling
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

New-AdminUI (#491)
  README.md
  admin/jsonConfig.json5
Owners: none

use source of select (#504)
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

chore: release v0.5.0
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

update Readme
  README.md
Owners: none

Translated using Weblate (German)
  admin/i18n/de/translations.json
Owners: none

Translated using Weblate (English)
  admin/i18n/en/translations.json
Owners: none

Translations update from ioBroker Translation System (#507)
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
Owners: none

Extend getScreensaverConfig() with messages array for better user feedback (#499)
  README.md
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

invalid json config - admin error? #496
  admin/jsonConfig.json5
Owners: none

cardMedia - User Colors #417
  src/lib/const/Color.ts
Owners: none

add userColor to AdminUI - default Values -> io-package
  admin/jsonConfig.json5
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  io-package.json
  src/lib/adapter-config.d.ts
Owners: none

update build
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
Owners: none

subscript-all
  build/lib/classes/system-notifications.js
  build/lib/classes/system-notifications.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  build/main.js
  build/main.js.map
  src/lib/classes/system-notifications.ts
  src/lib/controller/panel.ts
  src/lib/controller/states-controller.ts
  src/main.ts
Owners: none

doubleClick timeout only if we have a single and double click target
  build/lib/classes/navigation.js
  build/lib/classes/navigation.js.map
  src/lib/classes/navigation.ts
Owners: none

if too long
  build/lib/classes/navigation.js
  build/lib/classes/navigation.js.map
  src/lib/classes/navigation.ts
Owners: none

lint fixed
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  src/lib/controller/states-controller.ts
Owners: none

add more offline log
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  src/lib/controller/panel-message.ts
  src/lib/controller/panel.ts
Owners: none

feat(controller): add custom color theme support
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

update log
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  src/lib/controller/panel-message.ts
Owners: none

redo
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/const/Color.ts
  src/lib/controller/controller.ts
Owners: none

more delay for losing count
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  src/lib/controller/panel-message.ts
Owners: none

losingMessageCount raise to 5
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  src/lib/controller/panel-message.ts
Owners: none

Optimierung der Farbverarbeitung in der Controller-Klasse: Überprüfung auf Hex-Farben vor der Umwandlung in RGB
  src/lib/controller/controller.ts
Owners: none

feat/isDismissiblePerEvent & feat/dismissibleIDGlobal
  build/lib/classes/baseClassPage.js
  build/lib/classes/baseClassPage.js.map
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/screensaver.js
  build/lib/pages/screensaver.js.map
  build/lib/types/pages.js.map
  build/lib/types/type-pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/baseClassPage.ts
  src/lib/classes/config-manager.ts
  src/lib/controller/controller.ts
  src/lib/controller/panel.ts
  src/lib/controller/states-controller.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/screensaver.ts
  src/lib/types/config-manager.d.ts
  src/lib/types/pages.ts
  src/lib/types/type-pageItem.ts
Owners: none

Dokumentation der Farb-Theme Keys hinzugefügt und Sidebar aktualisiert
  README.md
  doc/de/_Sidebar.md
  doc/de/colorTheme.md
  doc/en/_Sidebar.md
  doc/en/colorTheme.md
Owners: @tt-tom17

fixes #510
  doc/en/_Sidebar.md
Owners: @tt-tom17

Add comprehensive bilingual documentation for globalPages/globalLink feature including Deep Linking (#501)
  .github/copilot-instructions.md
  doc/de/GlobalPages.md
  doc/de/ScriptConfig.md
  doc/de/_Sidebar.md
  doc/en/GlobalPages.md
Owners: @ticaki, @tt-tom17

Update src/lib/pages/screensaver.ts
  src/lib/pages/screensaver.ts
Owners: none

Update script/example_sendTo_script_iobroker.ts
  script/example_sendTo_script_iobroker.ts
Owners: none

update build
  build/lib/controller/panel.js.map
  build/lib/pages/screensaver.js
  build/lib/pages/screensaver.js.map
  script/example_sendTo_script_iobroker.ts
Owners: none

more log
  build/main.js
  build/main.js.map
  src/main.ts
Owners: none

remove try
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/main.js
  build/main.js.map
  src/lib/controller/panel.ts
  src/main.ts
Owners: none

1 more try
  build/main.js
  build/main.js.map
  src/main.ts
Owners: none

feat/isDismissiblePerEvent & feat/dismissibleIDGlobal (#509)
  build/lib/classes/baseClassPage.js
  build/lib/classes/baseClassPage.js.map
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/controller/states-controller.js
  build/lib/controller/states-controller.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/screensaver.js
  build/lib/pages/screensaver.js.map
  build/lib/types/pages.js.map
  build/lib/types/type-pageItem.js.map
  build/main.js
  build/main.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/baseClassPage.ts
  src/lib/classes/config-manager.ts
  src/lib/controller/controller.ts
  src/lib/controller/panel.ts
  src/lib/controller/states-controller.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/screensaver.ts
  src/lib/types/config-manager.d.ts
  src/lib/types/pages.ts
  src/lib/types/type-pageItem.ts
  src/main.ts
Owners: none

subscript-all (#508)
  build/lib/classes/system-notifications.js
  build/lib/classes/system-notifications.js.map
  build/lib/controller/panel.js
  build/lib/controller/states-controller.js
  build/main.js
  src/lib/classes/system-notifications.ts
  src/lib/controller/panel.ts
  src/lib/controller/states-controller.ts
  src/main.ts
Owners: none

cardMedia - User Colors (#477)
  README.md
  admin/jsonConfig.json5
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  build/lib/controller/controller.js
  build/lib/pages/pageMedia.js
  build/lib/pages/pageMedia.js.map
  doc/de/_Sidebar.md
  doc/de/colorTheme.md
  doc/en/_Sidebar.md
  doc/en/colorTheme.md
  io-package.json
  src/lib/adapter-config.d.ts
  src/lib/const/Color.ts
  src/lib/controller/controller.ts
  src/lib/pages/pageMedia.ts
Owners: @tt-tom17

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki
