Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

Sonos speaker pageitem (#455)
  build/lib/classes/Page.js
  build/lib/classes/Page.js.map
  build/lib/const/Color.js
  build/lib/const/Color.js.map
  build/lib/const/tools.js
  build/lib/const/tools.js.map
  build/lib/pages/data-collection-functions.js
  build/lib/pages/data-collection-functions.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/pageMedia.js
  build/lib/pages/pageMedia.js.map
  build/lib/pages/tools/getSonos.js
  build/lib/pages/tools/getSonos.js.map
  build/lib/tools/readme.js
  build/lib/tools/readme.js.map
  build/lib/types/pages.js.map
  doc/de/ALIAS.md
  src/lib/classes/Page.ts
  src/lib/const/Color.ts
  src/lib/const/tools.ts
  src/lib/pages/data-collection-functions.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/pageMedia.ts
  src/lib/pages/tools/getSonos.ts
  src/lib/tools/readme.ts
  src/lib/types/pages.ts
Owners: @tt-tom17

add picture to screensaver
  doc/Pictures/screensaver/screensaverAdv.png
  doc/Pictures/screensaver/screensaverAlt.png
  doc/Pictures/screensaver/screensaverStd.png
  doc/de/_Sidebar.md
  doc/de/screensaver.md
Owners: @tt-tom17

some linux cmds
  script/linux-cmd.txt
Owners: none

home to /doc/en
  doc/en/Home.md
Owners: @tt-tom17

add picture to screensaver (#456)
  doc/Pictures/screensaver/screensaverAdv.png
  doc/Pictures/screensaver/screensaverAlt.png
  doc/Pictures/screensaver/screensaverStd.png
  doc/de/_Sidebar.md
  doc/de/screensaver.md
  doc/en/Home.md
Owners: @tt-tom17

update stale
  .github/workflows/stale.yml
Owners: @ticaki

test added
  .github/workflows/test-documentation-links
Owners: @ticaki

test
  doc/de/_Sidebar.md
Owners: @tt-tom17

update
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

fix typo
  doc/de/_Sidebar.md
Owners: @tt-tom17

update
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

big change
  doc/de/_Sidebar.md
Owners: @tt-tom17

update action
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

typo
  doc/de/_Sidebar.md
Owners: @tt-tom17

update action
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

t
  doc/de/_Sidebar.md
Owners: @tt-tom17

update action
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

t
  doc/de/_Sidebar.md
Owners: @tt-tom17

last try
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

t
  doc/de/_Sidebar.md
Owners: @tt-tom17

last last try
  .github/workflows/test-documentation-links.yml
Owners: @ticaki

t
  doc/de/_Sidebar.md
Owners: @tt-tom17

feat(sonos): show station instead of playtime and hide shuffle for radio
  build/lib/pages/pageMedia.js
  build/lib/pages/pageMedia.js.map
  build/lib/pages/tools/getSonos.js
  build/lib/pages/tools/getSonos.js.map
  build/lib/types/pages.js
  build/lib/types/pages.js.map
  src/lib/pages/pageMedia.ts
  src/lib/pages/tools/getSonos.ts
  src/lib/types/pages.ts
Owners: none

update translations
  admin/i18n/de/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
Owners: none

crash - fixed
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

Broken links detected in documentation Fixes #457
  doc/Pictures/screensaver/screensaverEasy.png
  doc/de/Pages.md
  doc/de/ScriptConfig.md
  doc/de/screensaver.md
Owners: @tt-tom17

remove tilde from state input - remove ? vom insel input - more logs added - invalid pageitems fixed
  build/lib/classes/data-item.js
  build/lib/classes/data-item.js.map
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/pageMedia.js
  build/lib/pages/pageMedia.js.map
  build/lib/pages/pageMenu.js
  build/lib/pages/pageMenu.js.map
  build/main.js
  build/main.js.map
  src/lib/classes/data-item.ts
  src/lib/controller/panel-message.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/pageMedia.ts
  src/lib/pages/pageMenu.ts
  src/main.ts
Owners: none

del badge
  doc/de/_Sidebar.md
Owners: @tt-tom17

Broken links detected in documentation (#458)
  doc/Pictures/screensaver/screensaverEasy.png
  doc/de/Pages.md
  doc/de/ScriptConfig.md
  doc/de/_Sidebar.md
  doc/de/screensaver.md
Owners: @tt-tom17

refractor / Increase the delay between stopping and starting when restarting the panel.
  build/lib/classes/baseClassPage.js
  build/lib/classes/baseClassPage.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/main.js
  build/main.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/baseClassPage.ts
  src/lib/pages/pageItem.ts
  src/main.ts
Owners: none

Add German documentation review requirement to copilot instructions (#465)
  .github/copilot-instructions.md
Owners: @ticaki

Update .github/ISSUE_TEMPLATE/copilot_assistance.md
  .github/ISSUE_TEMPLATE/copilot_assistance.md
Owners: @ticaki

Update .github/ISSUE_TEMPLATE/copilot_assistance.md
  .github/ISSUE_TEMPLATE/copilot_assistance.md
Owners: @ticaki

Add streamlined Copilot issue template for essential NSPanel assistance (#461)
  .github/ISSUE_TEMPLATE/copilot_assistance.md
Owners: @ticaki

new link to alias tabelle
  doc/de/Adapter-Installation.md
  doc/de/PageThermo2.md
  doc/de/_Sidebar.md
Owners: @tt-tom17

new link to alias tabelle (#466)
  doc/de/Adapter-Installation.md
  doc/de/PageThermo2.md
  doc/de/_Sidebar.md
Owners: @tt-tom17

fix(scripts): improve robustness of script configuration transfer
  README.md
  build/main.js
  build/main.js.map
  script/example_sendTo_script_iobroker.ts
  src/main.ts
Owners: none

fix cardChart
  build/lib/pages/pageChart.js
  build/lib/pages/pageChart.js.map
  src/lib/pages/pageChart.ts
Owners: none

Update src/lib/const/tools.ts
  src/lib/const/tools.ts
Owners: none

Update src/lib/const/tools.ts
  src/lib/const/tools.ts
Owners: none
