Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

chore: release v0.17.8
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

testing
  io-package.json
Owners: none

back
  io-package.json
  package.json
Owners: @ticaki

refractor
  build/lib/classes/mqtt.js
  build/lib/classes/mqtt.js.map
  build/lib/controller/library.js
  build/lib/controller/library.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/main.js
  build/main.js.map
  src/lib/adapter-config.d.ts
  src/lib/classes/mqtt.ts
  src/lib/controller/library.ts
  src/lib/controller/panel.ts
  src/main.ts
Owners: none

test: add effective unit tests + fix ts-node config
  package.json
  src/lib/const/Color.test.ts
  src/lib/const/icon_mapping.test.ts
  src/lib/const/tools.test.ts
  src/lib/types/function-and-const.test.ts
  src/main.test.ts
  test/mocha.setup.js
  test/tsconfig.test.json
Owners: @ticaki

feat(admin): migrate cardPower to react pageConfig tab
  admin/custom/assets/CheckCircle-DffnzYgX.js
  admin/custom/assets/Components-Ci3cIvwR.js
  admin/custom/assets/Components-DZbOa88P.js
  admin/custom/assets/Edit-BvCukKTu.js
  admin/custom/assets/index-BFfGupju.js
  admin/custom/assets/index-Bf-wxHjL.js
  admin/custom/assets/index-Bg2nGQgF.js
  admin/custom/assets/index-Bso2VmNU.js
  admin/custom/assets/index-C0y1-48r.js
  admin/custom/assets/index-C9y1JpSI.js
  admin/custom/assets/localSharedImportMap-D9SoXidt.js
  admin/custom/assets/localSharedImportMap-DSY5pOf2.js
  admin/custom/assets/virtualExposes-DNghh6ti.js
  admin/custom/assets/virtualExposes-KNBVAYWZ.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DWuG1Mpg.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-Yotbf65y.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  build/lib/configuration/admin.js
  build/lib/configuration/admin.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageConfigLayout.tsx
  src-admin/src/components/PagePowerEditor.tsx
  src/lib/configuration/admin.ts
  src/lib/types/adminShareConfig.ts
Owners: none

fix powerpage
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

update build
  admin/custom/assets/Components-DZbOa88P.js
  admin/custom/assets/Components-oblycnJo.js
  admin/custom/assets/index-B7WVYl0T.js
  admin/custom/assets/index-BFfGupju.js
  admin/custom/assets/index-C9y1JpSI.js
  admin/custom/assets/index-D0B8LZQr.js
  admin/custom/assets/localSharedImportMap-ByouQbzB.js
  admin/custom/assets/localSharedImportMap-DSY5pOf2.js
  admin/custom/assets/virtualExposes-CF5go3Lx.js
  admin/custom/assets/virtualExposes-DNghh6ti.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DDgZaJMx.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DWuG1Mpg.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
Owners: none

tom ist es schuld
  CLAUDE.md
  admin/custom/assets/Components-M71HQA_O.js
  admin/custom/assets/Components-oblycnJo.js
  admin/custom/assets/index-B7WVYl0T.js
  admin/custom/assets/index-CJEQJPfV.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-D0B8LZQr.js
  admin/custom/assets/index-DyKoqI5k.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/localSharedImportMap-ByouQbzB.js
  admin/custom/assets/localSharedImportMap-ClZYuzLD.js
  admin/custom/assets/virtualExposes-CF5go3Lx.js
  admin/custom/assets/virtualExposes-SlNuqVIS.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-B16rw49Q.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DDgZaJMx.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

2.try noch nicht gut
  CLAUDE.md
  admin/custom/assets/Components-DgG-a6RA.js
  admin/custom/assets/Components-M71HQA_O.js
  admin/custom/assets/index-BH9Emp7m.js
  admin/custom/assets/index-BoJ1hUG6.js
  admin/custom/assets/index-CJEQJPfV.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-DyKoqI5k.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/localSharedImportMap-APl8giXA.js
  admin/custom/assets/localSharedImportMap-ClZYuzLD.js
  admin/custom/assets/virtualExposes-Dsytp-5P.js
  admin/custom/assets/virtualExposes-SlNuqVIS.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-B16rw49Q.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-CZ3g3rRY.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

add themeName IconSelect fix color for icon and text
  admin/custom/assets/Components-Bxt33xLx.js
  admin/custom/assets/Components-DgG-a6RA.js
  admin/custom/assets/index-BH9Emp7m.js
  admin/custom/assets/index-Bd28bb9E.js
  admin/custom/assets/index-BoJ1hUG6.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-DyP1qBkJ.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/localSharedImportMap-APl8giXA.js
  admin/custom/assets/localSharedImportMap-B53fmRq2.js
  admin/custom/assets/virtualExposes-6HQTUdrp.js
  admin/custom/assets/virtualExposes-Dsytp-5P.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-CZ3g3rRY.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DwitHolE.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/IconSelect.tsx
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

pageTrashEditor - change class to ConfigGeneric - fix themeName IconSelect - fix InputProps
  admin/custom/assets/Components-Bxt33xLx.js
  admin/custom/assets/Components-_L0fk3aZ.js
  admin/custom/assets/index-4fZsJHXj.js
  admin/custom/assets/index-Bd28bb9E.js
  admin/custom/assets/index-Dosx3mhH.js
  admin/custom/assets/index-DyP1qBkJ.js
  admin/custom/assets/localSharedImportMap-B53fmRq2.js
  admin/custom/assets/localSharedImportMap-DFHrNQMj.js
  admin/custom/assets/virtualExposes-6HQTUdrp.js
  admin/custom/assets/virtualExposes-CsoU38_E.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DPUPi-BI.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DwitHolE.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageTrashEditor.tsx
Owners: none

add komplett
  src-admin/src/components/PageTrashEditor.tsx
Owners: none

debug
  .vscode/launch.json
  agent/vscode-debug-setup.md
Owners: none

toms forderungen
  admin/custom/assets/Components-DpQF4HyV.js
  admin/custom/assets/Components-_L0fk3aZ.js
  admin/custom/assets/index-4fZsJHXj.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-Dosx3mhH.js
  admin/custom/assets/index-LrpfiWfW.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/index-j5aosJ-n.js
  admin/custom/assets/localSharedImportMap-CLWUnPNE.js
  admin/custom/assets/localSharedImportMap-DFHrNQMj.js
  admin/custom/assets/virtualExposes-CQozwfhw.js
  admin/custom/assets/virtualExposes-CsoU38_E.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-DPUPi-BI.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-WC-p5P6D.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

Update from template: X0000-dropNode20 (#680)
  .github/workflows/test-and-release.yml
  README.md
  package.json
Owners: @ticaki

fix color trashIcon
  admin/custom/assets/Components-BZNoyn6g.js
  admin/custom/assets/Components-DpQF4HyV.js
  admin/custom/assets/index-BNwXiqt-.js
  admin/custom/assets/index-DxGOQlw9.js
  admin/custom/assets/index-LrpfiWfW.js
  admin/custom/assets/index-j5aosJ-n.js
  admin/custom/assets/localSharedImportMap-CLWUnPNE.js
  admin/custom/assets/localSharedImportMap-quXbNsov.js
  admin/custom/assets/virtualExposes-BOAFEsVS.js
  admin/custom/assets/virtualExposes-CQozwfhw.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-Dutyzm0_.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-WC-p5P6D.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/PagePowerEditor.tsx
Owners: none

AdminUI QREditor - Change GenericConfig
  admin/custom/assets/Components-BZNoyn6g.js
  admin/custom/assets/Components-COpAexM1.js
  admin/custom/assets/index-BNwXiqt-.js
  admin/custom/assets/index-CxMxAAcf.js
  admin/custom/assets/index-DVkaBF4P.js
  admin/custom/assets/index-DxGOQlw9.js
  admin/custom/assets/localSharedImportMap-BSCYIv__.js
  admin/custom/assets/localSharedImportMap-quXbNsov.js
  admin/custom/assets/virtualExposes-BOAFEsVS.js
  admin/custom/assets/virtualExposes-iI-96RvB.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-Dutyzm0_.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-GlUoaYVQ.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageQREditor.tsx
Owners: none

update bug bericht
  doc/nextion-tft-flash-bug.md
Owners: @tt-tom17

claude session
  doc/session_2026-05-03_tft-flash-debug.md
Owners: @tt-tom17

update claude findings
  doc/nextion-tft-flash-bug.md
  doc/session_2026-05-03_tft-flash-debug.md
Owners: @tt-tom17

findings
  doc/autoexec_v10_patched.be
  doc/diagnose_2026-05-03_final.md
  doc/diagnose_2026-05-03_run3.md
  doc/tasmota_file_upload.md
  doc/tasmota_flash_20260503_144748.log
  doc/tasmota_flash_20260503_150558.log
  doc/tasmota_flash_20260503_154156_run5.log
  doc/tasmota_flash_20260503_155126_run6.log
  doc/tasmota_flash_local_20260503_151915.log
  doc/tasmota_log_capture.sh
Owners: @tt-tom17

Update from template: S6020-addChangelogOld (#681)
  README.md
Owners: none

doc: nextion-flash autoexec_v11 + Live-Verifikation
  doc/autoexec_v11.be
  doc/tasmota_flash_20260503_144748.log
  doc/tasmota_flash_v11_20260504_082607.log
  doc/v11_deploy_report_2026-05-04.md
Owners: @tt-tom17

fix disabled carGrid2
  admin/custom/assets/Components-2rPTmP53.js
  admin/custom/assets/Components-COpAexM1.js
  admin/custom/assets/index-BLNe8MbS.js
  admin/custom/assets/index-BP_BIMsv.js
  admin/custom/assets/index-CxMxAAcf.js
  admin/custom/assets/index-DVkaBF4P.js
  admin/custom/assets/localSharedImportMap-BSCYIv__.js
  admin/custom/assets/localSharedImportMap-CipnuhZM.js
  admin/custom/assets/virtualExposes-Qie-qmeZ.js
  admin/custom/assets/virtualExposes-iI-96RvB.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-B2hPrPaF.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-GlUoaYVQ.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/components/PageMenuEditor.tsx
Owners: none

change pageMenueEditor to ConfigGeneric
  admin/custom/assets/Components-2rPTmP53.js
  admin/custom/assets/Components-ClXqDYlP.js
  admin/custom/assets/index-BLNe8MbS.js
  admin/custom/assets/index-BP_BIMsv.js
  admin/custom/assets/index-D2VCy0h7.js
  admin/custom/assets/index-_UY2M3Ia.js
  admin/custom/assets/localSharedImportMap-CipnuhZM.js
  admin/custom/assets/localSharedImportMap-sfAQHYwd.js
  admin/custom/assets/virtualExposes-CjuN4MbJ.js
  admin/custom/assets/virtualExposes-Qie-qmeZ.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-B2hPrPaF.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-C0XddAAf.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  src-admin/src/PageConfigManager.tsx
  src-admin/src/components/PageMenuEditor.tsx
Owners: none

init
  README.md
  doc/flashnextion_local_server.md
  doc/tasmota_node_server.md
  simulator/.mocharc.json
  simulator/README.md
  simulator/config.example.json
  simulator/package-lock.json
  simulator/package.json
  simulator/src/config.ts
  simulator/src/index.ts
  simulator/src/log.ts
  simulator/src/persistence.ts
  simulator/src/sim/BerryBridge.ts
  simulator/src/sim/HttpTasmota.ts
  simulator/src/sim/MqttTransport.ts
  simulator/src/sim/Simulator.ts
  simulator/src/sim/TasmotaStub.ts
  simulator/src/sim/TftState.ts
  simulator/src/sim/const/backlog.ts
  simulator/src/sim/const/models.ts
  simulator/src/sim/const/topics.ts
  simulator/src/sim/payloads/EventBuilder.ts
  simulator/src/sim/payloads/StatusBuilder.ts
  simulator/src/sim/payloads/TeleBuilder.ts
  simulator/start-sim.sh
  simulator/test/smoke.spec.ts
  simulator/tsconfig.build.json
  simulator/tsconfig.json
  tasmota/berry/11/autoexec.be
Owners: @tt-tom17, @ticaki

add claude
  .github/workflows/claude.yml
Owners: @ticaki

up
  .github/workflows/claude.yml
Owners: @ticaki

fix(claude): increase max-turns to 30 and add workflow_dispatch trigger
  .github/workflows/claude.yml
Owners: @ticaki

fix(claude): increase max-turns to 50 for complex tasks
  .github/workflows/claude.yml
Owners: @ticaki

update turns
  .github/workflows/claude.yml
Owners: @ticaki

build and fixes lint
  admin/custom/assets/Components-3CcJd4wO.js
  admin/custom/assets/Components-Ci3cIvwR.js
  admin/custom/assets/index-Bg2nGQgF.js
  admin/custom/assets/index-Bso2VmNU.js
  admin/custom/assets/index-C3zBhrIi.js
  admin/custom/assets/index-DC1OC3db.js
  admin/custom/assets/localSharedImportMap-BbbzrsGN.js
  admin/custom/assets/localSharedImportMap-D9SoXidt.js
  admin/custom/assets/virtualExposes-BZ29vgMN.js
  admin/custom/assets/virtualExposes-KNBVAYWZ.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-CnozjSiP.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-Yotbf65y.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  build/lib/classes/http-server.js
  build/lib/classes/http-server.js.map
  build/main.js
  build/main.js.map
  src-admin/src/TabMaintain.tsx
  src/lib/classes/http-server.ts
  src/main.ts
Owners: none

fix translate
  admin/custom/assets/index-CKZlZEeg.js
  admin/custom/assets/index-CczqyZ2r.js
  admin/custom/assets/index-DDMYaLgv.js
  admin/custom/assets/index-QUyfGG67.js
  admin/custom/assets/index-fEm0HYwe.js
  admin/custom/assets/localSharedImportMap-BINQYr_z.js
  admin/custom/assets/localSharedImportMap-CdvoNwgC.js
  admin/custom/assets/virtual_mf-REMOTE_ENTRY_ID_AdminComponentEasyAccessSet__customComponents_js-Cz7dwNwu.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/i18n/es.json
  admin/custom/i18n/fr.json
  admin/custom/i18n/it.json
  admin/custom/i18n/nl.json
  admin/custom/i18n/pl.json
  admin/custom/i18n/pt.json
  admin/custom/i18n/ru.json
  admin/custom/i18n/uk.json
  admin/custom/i18n/zh-cn.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/custom/mf-stats.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
Owners: none

update claude
  .github/workflows/claude.yml
Owners: @ticaki

other try
  .github/workflows/claude.yml
Owners: @ticaki

docs: add phase commit workflow instructions to WIKI-UPDATE-PLAN
  WIKI-UPDATE-PLAN.md
Owners: none

docs(phase 1.1): Admin-Tab "Global Settings" dokumentiert (de + en)
  docs/STATUS.md
  docs/de/globelSettings.md
  docs/en/globelSettings.md
Owners: none

docs(phase 1.1): Bilder-Platzhalter in globelSettings + Konvention im Plan
  WIKI-UPDATE-PLAN.md
  docs/de/globelSettings.md
  docs/en/globelSettings.md
Owners: none

docs(phase 1.2): Admin-Tab "Developer" dokumentiert (de + en)
  docs/STATUS.md
  docs/de/Developer.md
  docs/en/Developer.md
Owners: none
