Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

update package-lock.json
  README.md
  package-lock.json
Owners: none

remove timezone.json
  admin/timezone.json
Owners: none

update doc
  doc/de/pagePopup.md
Owners: @tt-tom17

chore: release v0.8.0
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

move mqttKeys to instanceObject
  build/lib/classes/mqtt.js
  build/lib/classes/mqtt.js.map
  io-package.json
  src/lib/classes/mqtt.ts
Owners: none

update readme
  README.md
Owners: none

repochecker issues fixed
  README.md
  admin/jsonConfig.json5
  package-lock.json
  package.json
Owners: @ticaki

chore: release v0.8.1
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

Add additional copyright holder to LICENSE
  LICENSE
Owners: none

Add copyright notice for tt-tom17
  README.md
Owners: none

Add additional copyright holder to LICENSE (#587)
  LICENSE
Owners: none

Add copyright notice for tt-tom17 (#588)
  LICENSE
  README.md
Owners: none

support for global with sendTo
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

switch default
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

fixed global
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  src/lib/controller/controller.ts
Owners: none

add custom pageItems
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/types/config-manager.d.ts
Owners: none

Update src/lib/classes/config-manager.ts
  src/lib/classes/config-manager.ts
Owners: none

Update src/lib/classes/config-manager.ts
  src/lib/classes/config-manager.ts
Owners: none

Update src/lib/classes/config-manager.ts
  src/lib/classes/config-manager.ts
Owners: none

update build
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
Owners: none

update build
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
Owners: none

fix für Bot #586
  LICENSE
  README.md
Owners: none

add custom pageItems (#589)
  LICENSE
  README.md
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/types/config-manager.d.ts
Owners: none

script ID is found uniquely
  README.md
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  src/lib/classes/config-manager.ts
Owners: none

pageItem type=button long press added
  README.md
  build/lib/classes/Page.js
  build/lib/classes/Page.js.map
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/types/function-and-const.js
  build/lib/types/function-and-const.js.map
  build/lib/types/types.js.map
  script/example_sendTo_script_iobroker.ts
  script/globalPageConfig.ts
  src/lib/classes/Page.ts
  src/lib/classes/config-manager.ts
  src/lib/controller/panel.ts
  src/lib/pages/pageItem.ts
  src/lib/types/NSPanel.d.ts
  src/lib/types/config-manager.d.ts
  src/lib/types/function-and-const.ts
  src/lib/types/types.ts
Owners: none

remove doubleclick, longpress added
  admin/jsonConfig.json5
  build/lib/classes/Page.js
  build/lib/classes/Page.js.map
  build/lib/classes/navigation.js
  build/lib/classes/navigation.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/pages/pageMenu.js
  build/lib/pages/pageMenu.js.map
  build/main.js
  build/main.js.map
  src/lib/adapter-config.d.ts
  src/lib/classes/Page.ts
  src/lib/classes/navigation.ts
  src/lib/controller/panel.ts
  src/lib/pages/pageMenu.ts
  src/main.ts
Owners: none

update readme
  README.md
Owners: none

service page popup fixed
  build/lib/classes/baseClassPage.js
  build/lib/classes/baseClassPage.js.map
  build/lib/pages/pagePopup.js
  build/lib/pages/pagePopup.js.map
  src/lib/classes/baseClassPage.ts
  src/lib/pages/pagePopup.ts
Owners: none

Update TFT version numbers in version.json
  json/version.json
Owners: none

chore: release v0.9.0
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

fix library.ts
  build/lib/controller/library.js
  build/lib/controller/library.js.map
  src/lib/controller/library.ts
Owners: none

2. fix
  build/lib/controller/library.js
  build/lib/controller/library.js.map
  src/lib/controller/library.ts
Owners: none

Update TFT version numbers in version.json
  json/version.json
Owners: none

Hmi us l v5.1.1 (#592)
  json/version.json
Owners: none

Update tft-us-p-beta version to 5.1.1
  json/version.json
Owners: none

HMI US-P v5.1.1 (#593)
  json/version.json
Owners: none

undefined crash in pageItem fixed
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  src/lib/pages/pageItem.ts
Owners: none

chore: release v0.9.1
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

fixed: nav slider templatee
  build/lib/templates/button.js
  build/lib/templates/button.js.map
  src/lib/templates/button.ts
Owners: none

min max for template bydhvs
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki
