Repository ticaki/ioBroker.nspanel-lovelace-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticaki, @tt-tom17, @Armilar

.github/CODEOWNERS:

# Default ownership - all users have basic access
# *           @ticaki @Armilar @tt-tom17

# Specific ownership rules - these require approval from the designated codeowner
/.github/   @ticaki
/doc/       @tt-tom17
/HMI/       @Armilar
package.json @ticaki
tsconfig.json @ticaki
.gitignore  @ticaki

ANALOG Temp #619 update readme
  README.md
Owners: none

fix hidden pageconfig
  admin/jsonConfig.json5
Owners: none

fix hidden pageGlobalSetting
  admin/jsonConfig.json5
Owners: none

nspanel model fixed
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/types/types.js.map
  build/main.js
  build/main.js.map
  src/lib/controller/panel-message.ts
  src/lib/controller/panel.ts
  src/lib/types/types.ts
  src/main.ts
Owners: none

add hint remeber last stite add hint write tasmoat tele
  admin/custom/assets/Components-B0oeB3ES.js
  admin/custom/assets/Components-BXiG3sfS.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNiT-45g.js
  admin/custom/assets/index-FDhLFXME.js
  admin/custom/assets/virtualExposes-B72pvZ5u.js
  admin/custom/assets/virtualExposes-BINgo3Af.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  src-admin/src/PageGlobalSettings.tsx
Owners: none

update changelog
  README.md
Owners: none

More robust script transfer with panel restart
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/main.js
  build/main.js.map
  src/lib/controller/controller.ts
  src/main.ts
Owners: none

rebuild
  admin/custom/assets/index-DNiT-45g.js
  admin/custom/assets/index-FDhLFXME.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  build/lib/controller/panel.js.map
Owners: none

typo
  admin/custom/i18n/de.json
  admin/i18n/de/translations.json
Owners: none

text
  admin/custom/i18n/de.json
  admin/i18n/de/translations.json
Owners: none

react init Mqtt
  admin/custom/assets/AdminComponentEasyAccessSet__loadShare___mf_0_iobroker_mf_1_adapter_mf_2_react_mf_2_v5__loadShare__-BJiKjF1c.js
  admin/custom/assets/AdminComponentEasyAccessSet__loadShare___mf_0_iobroker_mf_1_adapter_mf_2_react_mf_2_v5__loadShare__-CmYJ37BE.js
  admin/custom/assets/Components-B0oeB3ES.js
  admin/custom/assets/Components-ZwElxJnn.js
  admin/custom/assets/ThemeProvider-Dk2kuBwE.js
  admin/custom/assets/ThemeProvider-flpZG0Lk.js
  admin/custom/assets/_baseIsEqual-Bi-xzJRY.js
  admin/custom/assets/_baseIsEqual-BiOdebYq.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-B1xvivFc.js
  admin/custom/assets/index-BM9415NR.js
  admin/custom/assets/index-Bu92Wd0L.js
  admin/custom/assets/index-C86_B-v0.js
  admin/custom/assets/index-DKeESOtM.js
  admin/custom/assets/index-DNiT-45g.js
  admin/custom/assets/index-DT9Olfk_.js
  admin/custom/assets/index-DTSaBkyV.js
  admin/custom/assets/index-DjRuzpfl.js
  admin/custom/assets/index-FhAPsEhM.js
  admin/custom/assets/index-QT4rOYWx.js
  admin/custom/assets/index-f5bPJsEV.js
  admin/custom/assets/useTheme-zLszLRzm.js
  admin/custom/assets/virtualExposes-B72pvZ5u.js
  admin/custom/assets/virtualExposes-DIDkZE4r.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  src-admin/src/Components.tsx
  src-admin/src/PageMQTTSetting.tsx
Owners: none

variable added for maintain
  build/main.js
  build/main.js.map
  src/main.ts
Owners: none

react init NSPanelSetting added password component
  admin/custom/assets/Components-CtdRCm2t.js
  admin/custom/assets/Components-ZwElxJnn.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/virtualExposes-DIDkZE4r.js
  admin/custom/assets/virtualExposes-DwHTpsYj.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  admin/jsonConfig.json5
  src-admin/src/Components.tsx
  src-admin/src/PageMQTTSetting.tsx
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
  src-admin/src/components/PasswordField.tsx
Owners: none

rebuild
  admin/custom/assets/Components-BUyuz7Tk.js
  admin/custom/assets/Components-CtdRCm2t.js
  admin/custom/assets/Components-CxbRCfJd.js
  admin/custom/assets/ThemeProvider-flpZG0Lk.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-B65T7OPz.js
  admin/custom/assets/index-BM9415NR.js
  admin/custom/assets/index-BPsP0-57.js
  admin/custom/assets/index-DKeESOtM.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-DTSaBkyV.js
  admin/custom/assets/index-QT4rOYWx.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-BKY3vtlD.js
  admin/custom/assets/virtualExposes-DwHTpsYj.js
  admin/custom/assets/virtualExposes-GgL4g9n_.js
  admin/custom/customComponents.js
  admin/custom/index.html
  admin/custom/mf-manifest.json
Owners: none

chore: release v0.12.0
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

minor bugs fixed
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/main.js
  build/main.js.map
  io-package.json
  src/lib/controller/panel.ts
  src/main.ts
Owners: none

test 1
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

test 2
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

test 3
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

fixed brightsky template
  README.md
  build/lib/templates/text.js
  build/lib/templates/text.js.map
  src/lib/templates/text.ts
Owners: none

chore: release v0.12.1
  README.md
  io-package.json
  package-lock.json
  package.json
Owners: @ticaki

update tasmota version
  json/version.json
Owners: none

react maintain flashing
  admin/custom/assets/Components-CFL6RIMs.js
  admin/custom/assets/Components-CxbRCfJd.js
  admin/custom/assets/Tooltip-C4zQVdNp.js
  admin/custom/assets/Tooltip-CfJTkqcA.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-BPsP0-57.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-EHNsKxBj.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-BD522SaN.js
  admin/custom/assets/virtualExposes-GgL4g9n_.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/main.js
  build/main.js.map
  src-admin/src/TabMaintain.tsx
  src/lib/controller/panel.ts
  src/main.ts
Owners: none

nsPanel erweitert - select felder - Button Init
  admin/custom/assets/Components-BUyuz7Tk.js
  admin/custom/assets/Components-BhLlSb2p.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-BKY3vtlD.js
  admin/custom/assets/virtualExposes-BzrnzhOs.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
Owners: none

rebuild after merge
  admin/custom/assets/Components-CFL6RIMs.js
  admin/custom/assets/Components-ThpsQ8E8.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-BD522SaN.js
  admin/custom/assets/virtualExposes-BzrnzhOs.js
  admin/custom/assets/virtualExposes-CpyrH14q.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
Owners: none

card Panel
  admin/custom/assets/Components-Buz-ivi-.js
  admin/custom/assets/Components-ThpsQ8E8.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-CpyrH14q.js
  admin/custom/assets/virtualExposes-giXbPuRk.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
Owners: none

fix EU-Type add delete Panel and Edit Panel
  admin/custom/assets/Components-BScZaLNw.js
  admin/custom/assets/Components-Buz-ivi-.js
  admin/custom/assets/VisibilityOff-CkOCKNpb.js
  admin/custom/assets/VisibilityOff-Z71A_Q7U.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-C2yASIC1.js
  admin/custom/assets/index-N_bVxugn.js
  admin/custom/assets/virtualExposes-C3PYTUfs.js
  admin/custom/assets/virtualExposes-giXbPuRk.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  build/main.js
  build/main.js.map
  src-admin/src/PagePanelOverview.tsx
  src/main.ts
Owners: none

fix save init
  admin/custom/assets/Components-BScZaLNw.js
  admin/custom/assets/Components-CoZHwBJU.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-C3PYTUfs.js
  admin/custom/assets/virtualExposes-DW_2nizm.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  src-admin/src/PagePanelOverview.tsx
Owners: none

fix inputpros
  admin/custom/assets/Components-CoZHwBJU.js
  admin/custom/assets/Components-zYhocIp2.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/virtualExposes-DW_2nizm.js
  admin/custom/assets/virtualExposes-fY9lWqLI.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  src-admin/src/PageGlobalSettings.tsx
  src-admin/src/PageMQTTSetting.tsx
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
  src-admin/src/components/PasswordField.tsx
Owners: none

more status
  build/lib/const/definition.js
  build/lib/const/definition.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/main.js
  build/main.js.map
  src/lib/const/definition.ts
  src/lib/controller/controller.ts
  src/lib/controller/panel-message.ts
  src/lib/controller/panel.ts
  src/main.ts
Owners: none

add Status icon
  admin/custom/assets/Components-DvlLI7pd.js
  admin/custom/assets/Components-zYhocIp2.js
  admin/custom/assets/VisibilityOff-CkOCKNpb.js
  admin/custom/assets/VisibilityOff-DBb3x0Df.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-C2yASIC1.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-RLfJZLNq.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-Qns0ctLG.js
  admin/custom/assets/virtualExposes-fY9lWqLI.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  src-admin/src/PagePanelOverview.tsx
Owners: none

update this.status
  build/lib/const/definition.js
  build/lib/const/definition.js.map
  build/lib/controller/controller.js
  build/lib/controller/controller.js.map
  build/lib/controller/panel-message.js
  build/lib/controller/panel-message.js.map
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src/lib/const/definition.ts
  src/lib/controller/controller.ts
  src/lib/controller/panel-message.ts
  src/lib/controller/panel.ts
  src/lib/types/adminShareConfig.ts
Owners: none

hex colors
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  src/lib/types/adminShareConfig.ts
Owners: none

add ipSelector (configIP)
  admin/custom/assets/Components-Ba8dK2cj.js
  admin/custom/assets/Components-DvlLI7pd.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-DNlOJjoe.js
  admin/custom/assets/index-uvFkMQvr.js
  admin/custom/assets/virtualExposes-BFAj1-3P.js
  admin/custom/assets/virtualExposes-Qns0ctLG.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/components/ConfigIP.tsx
Owners: none

design
  admin/custom/assets/Components-B1S9tgRY.js
  admin/custom/assets/Components-Q6Zv16c0.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/virtualExposes-C63PjN8R.js
  admin/custom/assets/virtualExposes-CQkYhkSJ.js
  admin/custom/customComponents.js
  admin/custom/mf-manifest.json
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/TabMaintain.tsx
  src-admin/src/components/PanelStatusBadge.tsx
Owners: none

fixed: status offline
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  src/lib/controller/panel.ts
Owners: none

added: status setup
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  build/main.js
  build/main.js.map
  src/lib/types/adminShareConfig.ts
  src/main.ts
Owners: none

ups
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  src/lib/controller/panel.ts
Owners: none

fixed setup
  build/lib/controller/panel.js
  build/lib/controller/panel.js.map
  src/lib/controller/panel.ts
Owners: none

Badgegröße angepasst doc erstellt init feld blinkt
  admin/custom/assets/Components-B1S9tgRY.js
  admin/custom/assets/Components-Dq-xaBQz.js
  admin/custom/assets/hostInit-BJ6gSofk.js
  admin/custom/assets/index-8kEkIHyP.js
  admin/custom/assets/index-BlIlpKVb.js
  admin/custom/assets/virtualExposes-CQkYhkSJ.js
  admin/custom/assets/virtualExposes-DcBI4iTG.js
  admin/custom/customComponents.js
  admin/custom/i18n/de.json
  admin/custom/i18n/en.json
  admin/custom/index.html
  admin/custom/mf-manifest.json
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  build/lib/types/adminShareConfig.js
  build/lib/types/adminShareConfig.js.map
  doc/de/PanelStatusBadge.md
  src-admin/src/PagePanelOverview.tsx
  src-admin/src/components/PanelStatusBadge.tsx
  src/lib/types/adminShareConfig.ts
Owners: @tt-tom17
