Repository ticaki/ioBroker.nspanel-lovelace-ui, pull requests merged in 2025-09, with the labels that each got.

#422 Update version.json v5.0.0 Beta TFT
  json/version.json
Labels: HMI

#453 Link-Wiki
  doc/de/Adapter-Installation.md
  doc/de/Maintain.md
  doc/de/NSPanel-Nextion-Editor.md
  doc/de/PageChart.md
  doc/de/PageQR.md
  doc/de/PageThermo2.md
  doc/de/_Footer.md
  doc/de/_Sidebar.md
Labels: documentation

#472 screensaver-template-with-enabled
  build/lib/classes/config-manager.js
  build/lib/classes/config-manager.js.map
  build/lib/const/tools.js
  build/lib/const/tools.js.map
  build/lib/pages/pageItem.js
  build/lib/pages/pageItem.js.map
  build/lib/pages/screensaver.js
  build/lib/pages/screensaver.js.map
  build/lib/types/type-pageItem.js.map
  script/example_sendTo_script_iobroker.ts
  src/lib/classes/config-manager.ts
  src/lib/const/tools.ts
  src/lib/pages/pageItem.ts
  src/lib/pages/screensaver.ts
  src/lib/types/config-manager.d.ts
  src/lib/types/type-pageItem.ts
Labels: Script Config

#479 Testing
  build/lib/classes/config-manager.js
  build/lib/pages/pageThermo2.js
  build/lib/pages/pageThermo2.js.map
  src/lib/classes/config-manager.ts
  src/lib/pages/pageThermo2.ts
Labels: Script Config, Page
